body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

button {
  width: 100px;
  height: auto;
}

input {
  width: 200px;
  max-height: fit-content;
}
